.trim-image-to-circle {
    background-image: url("img\mig.jpg");
    width:  220px;       
    height: 220px;       
    border-radius: 50%;  
    background-position: center center;       
}
.fa-5x{
    font-size:30px;
}
.footer{
    background-color: lightgray
}